{% extends "template_client.html" %}

{% block title %}
Products
{% endblock %}

{% block myStyle%}
<link rel="stylesheet" href="assets/css/post.css">
{% endblock %}

{% block content_title %}
Products
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-8">
        <h3>products</h3>
        <table class="table table-primary table-hover">
            <thead class = 'fa-book-font'>
            <tr>
                <th style="text-align:center;">Id</th>
                <th style="text-align:center;">RequiredProduct_id</th>
                <th style="text-align:center;">Order status</th>
                <th style="text-align:center;">Order</th>
                <th style="text-align:center;">Unit price</th>
                <th style="text-align:center;">Total price</th>
                <th style="text-align:center;">Time of callprice</th>
                <th style="text-align:center;">Supplier id</th>
                <th style="text-align:center;">Producer id</th>
                <th style="text-align:center;">Description</th>
            </thead>
            <tbody>

            {% for product in products %}
                <td style="text-align:center;">{{ product.id }}</td>
                <td style="text-align:center;">{{ product.requiredproduct_id }}</td>
                <td style="text-align:center;">
                    <input type="checkbox" class="form-check-input" {{ 'checked' if product.status else '' }} disabled>
                </td>
                <td style="text-align:center;">
                    <form method="POST">
                        <input type="hidden" name="item_id" value="{{ product.id }}">
                        <input type="submit" value="Order" class="btn btn-primary">
                    </form>
                </td>
                <td style="text-align:center;">{{ product.u_price }}</td>
                <td style="text-align:center;">{{ product.t_price }}</td>
                <td style="text-align:center;">{{ product.timeofcallprice }}</td>
                <td style="text-align:center;">{{ product.supplier_id }}</td>
                <td style="text-align:center;">{{ product.producer_id }}</td>
                <td style="text-align:center;">{{ product.description }}</td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block myScript %}
<script src="assets/js/required_product.js"></script>
{% endblock %}