{% extends "template_supplier.html" %}

{% block title %}
Products
{% endblock %}

{% block myStyle%}
<link rel="stylesheet" href="assets/css/post.css">
{% endblock %}

{% block content_title %}
Products
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-8">
        <h3>products</h3>
        <table class="table table-primary table-hover">
            <thead class = 'fa-book-font'>
            <tr>
                <th style="text-align:center;">آیدی</th>
                <th style="text-align:center;">شناسه پروژه/کارفرما</th>
                <th style="text-align:center;">کد مخصوص محصول</th>
                <th style="text-align:center;">تعداد</th>
                <th style="text-align:center;">رنگ</th>
                <th style="text-align:center;">ارتفاع</th>
                <th style="text-align:center;">طول</th>
                <th style="text-align:center;">عرض</th>
                <th style="text-align:center;">عمق</th>
                <th style="text-align:center;">ضخامت</th>
                <th style="text-align:center;">جنس محصول</th>
                <th style="text-align:center;">وزن محصول</th>
                <th style="text-align:center;">نام تولیدکننده(فارسی)</th>
                <th style="text-align:center;">نام تولیدکننده(انگلیسی)</th>
                <th style="text-align:center;">مدل محصول</th>
                <th style="text-align:center;">توضیحات</th>
                <th style="text-align:center;">استعلام خواهی</th>
                <th style="text-align:center;">وضعیت استعلام</th>
            </thead>
            <tbody>

            {% for product in products %}
                <td style="text-align:center;">{{ product.id }}</td>
                <td style="text-align:center;">{{ product.projectclient_id }}</td>
                <td style="text-align:center;">{{ product.omniclass_code }}</td>
                <td style="text-align:center;">{{ product.count }}</td>
                <td style="text-align:center;">{{ product.Color }}</td>
                <td style="text-align:center;">{{ product.Height }}</td>
                <td style="text-align:center;">{{ product.Length }}</td>
                <td style="text-align:center;">{{ product.Width }}</td>
                <td style="text-align:center;">{{ product.Depth }}</td>
                <td style="text-align:center;">{{ product.Thickness }}</td>
                <td style="text-align:center;">{{ product.Material }}</td>
                <td style="text-align:center;">{{ product.Weight }}</td>
                <td style="text-align:center;">{{ product.ManufacturerFa }}</td>
                <td style="text-align:center;">{{ product.Manufacturer }}</td>
                <td style="text-align:center;">{{ product.ModelLabel }}</td>
                <td style="text-align:center;">{{ product.description }}</td>
                <td style="text-align:center;">
                    <form method="POST">
                        <input type="hidden" name="item_id" value="{{ product.id }}">
                        <input type="submit" value="استعلام" class="btn btn-primary">
                    </form>
                </td>
                <td style="text-align:center;">
                    <input type="checkbox" class="form-check-input" {{ 'checked' if product.status else '' }} disabled>
                </td>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block myScript %}
<script src="assets/js/required_product.js"></script>
{% endblock %}