{% extends "template_producer.html" %}

{% block title %}
producer
{% endblock %}

{% block myStyle%}
<link rel="stylesheet" href="assets/css/post.css">
{% endblock %}

{% block content_title %}
Products for pricing
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-8">

        <table class="table table-primary table-hover">
            <thead class = 'fa-book-font'>
            <tr>

                <th style="text-align:center;">Id</th>
                <th style="text-align:center;">ProjectClient_id</th>
                <th style="text-align:center;">Pricing</th>
                <th style="text-align:center;">Product code</th>
                <th style="text-align:center;">Count</th>
                <th style="text-align:center;">Color</th>
                <th style="text-align:center;">Height</th>
                <th style="text-align:center;">Length</th>
                <th style="text-align:center;">Width</th>
                <th style="text-align:center;">Depth</th>
                <th style="text-align:center;">Thickness</th>
                <th style="text-align:center;">Product Material</th>
                <th style="text-align:center;">Weight</th>
                <th style="text-align:center;">Manufacturer(Persian name)</th>
                <th style="text-align:center;">Manufacturer(English name)</th>
                <th style="text-align:center;">Model label</th>
                <th style="text-align:center;">Description</th>

            </thead>
            <tbody>

            {% for product in products %}

                <td style="text-align:center;">{{ product.id }}</td>
                <td style="text-align:center;">{{ product.projectclient_id }}</td>
                <td style="text-align:center;">
                    <form method="GET">
                        <input type="hidden" name="item_id" value="{{ product.id }}">
                        <input type="submit" value="Pricing" class="btn btn-primary">
                    </form>
                </td>
                <td style="text-align:center;">{{ product.omniclass_code }}</td>
                <td style="text-align:center;">{{ product.count }}</td>
                <td style="text-align:center;">{{ product.Color }}</td>
                <td style="text-align:center;">{{ product.Height }}</td>
                <td style="text-align:center;">{{ product.Length }}</td>
                <td style="text-align:center;">{{ product.Width }}</td>
                <td style="text-align:center;">{{ product.Depth }}</td>
                <td style="text-align:center;">{{ product.Thickness }}</td>
                <td style="text-align:center;">{{ product.Material }}</td>
                <td style="text-align:center;">{{ product.Weight }}</td>
                <td style="text-align:center;">{{ product.ManufacturerFa }}</td>
                <td style="text-align:center;">{{ product.Manufacturer }}</td>
                <td style="text-align:center;">{{ product.ModelLabel }}</td>
                <td style="text-align:center;">{{ product.description }}</td>


                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <br>
<form action="/product_for_producer" method="post">
    <div class="col-sm-6 mb-3 mb-sm-0"><label for="required_product_Id">Required Product Id</label>
        <input id="required_product_Id" type="text" name="name" value="{{data.id}}" class="form-control form-control-user" readonly>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0"><label for="u_priceId">Unit Price</label>
        <input id="u_priceId" type="text" name="u_price"  class="form-control form-control-user"></div>
    <div class="col-sm-6 mb-3 mb-sm-0"><label for="t_priceId">Total Price</label>
        <input id="t_priceId" type="text" name="t_price"  class="form-control form-control-user"></div>
    <div class="profile-input"><label for="descriptionId">Description</label>
        <input id="descriptionId" type="text" name="description"  class="form-control form-control-user"></div>
    <br>
    <input class="btn btn-primary btn-user btn-block" type="submit" value="registered">
</form>
{% endblock %}

{% block myScript %}
<script src="assets/js/required_product.js"></script>
{% endblock %}